@import "./vendor/OneDarkJekyll/syntax"; // this is the one-dark-vivid atom syntax theme

$body-background-color: $grey-dk-300;
$body-heading-color: $grey-lt-000;
$body-text-color: $grey-lt-300;
$link-color: #91d315;
$nav-child-link-color: #708845;
$sidebar-color: $grey-dk-300;
$base-button-color: $grey-dk-250;
$btn-primary-color: $green-200;
$code-background-color: #31343f; // OneDarkJekyll default for syntax-one-dark-vivid
$code-linenumber-color: #dee2f7; // OneDarkJekyll .nf for syntax-one-dark-vivid
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$search-result-preview-color: $grey-dk-000;
$border-color: $grey-dk-200;


.float-container {
    padding: 15px;
    overflow: hidden;
    display: flex; /* equal height of the children */
    border-bottom: #31343f solid 1px;
}
.float-child-a {
    width: 20%;
    float: left;
}
.float-child-b {
    width: 80%;
    float: right;
    padding-left: 10px;

}

.title-thumb{
    color: $link-color;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: 500;
    line-height: 1.25;
}
.thumb-announce {
    width: 5%;
    float: left;
    border-top: 1px dotted $link-color
}
.announcement{
    width:100%;
    float: left;
    padding: 20px;
    border-top: 1px dotted #dee2f7;
    border-bottom: 1px dotted  #dee2f7;
}
.announcement a:link{
    text-decoration: none;
}

.no-sub{
    text-decoration: none;
    font-size: 13px;
}
.thumb-img{
    min-width: 50%;
    max-width: 80%;
    float: center;
}

.img-title a:link{
    text-decoration: none;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: 500;
    line-height: 1.25;
}
.parent {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px;
    border-bottom: #31343f solid 1px;
  }
.div-top {
    height: 20%;
}
.div-bottom {
    height: 80%;

}
