{% assign folder1 = site.pages | sort: 'date' | reverse | where_exp: "item" , "item.path contains 'stories'"%}
{% for post in folder1 %}
  {%capture title%}{{post.title}}{%endcapture%}
  {%capture date%}{{post.date}}{%endcapture%}
  {%capture short_desc%}{{post.short_desc}}{%endcapture%}
  {%capture thumbnail%}{{post.thumbnail}}{%endcapture%}
  {%capture url%}{{post.url}}{%endcapture%}
  {%capture baseurl%}{{post.baseurl}}{%endcapture%}
  {%capture category%}{{post.category}}{%endcapture%}

  {% if category == "announcement" %}
      {% include components/c_announcement.html title=title date=date short_desc=short_desc%}
  {% elsif category == "image" %}
    {% include components/c_image.html title=title date=date short_desc=short_desc thumbnail=thumbnail url=url baseurl=baseurl%}
  {% else %}
    {% include components/c_post.html title=title date=date short_desc=short_desc thumbnail=thumbnail url=url baseurl=baseurl%}
  {% endif %}
{% endfor %}     
